{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="container alert alert-primary" role="alert">
  社内SNS
</div>
{% endblock header %}

{% block content %}
<div class='container'>
  <a href="{% url 'create' %}">新しい記事を書く</a>
  {% for item in object_list %}
  <div class="alert alert-success" role="alert">
    <p>タイトル：<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
    <p>投稿者:{{item.author}}</p>
    <div class="badge badge-primary">いいね：{{item.good}}</div>
    <div class="badge badge-secondary">既読：{{item.read}}</div>
  </div>
{% endfor %}
  <a href="{% url 'logout' %}">ログアウト</a>

</div>
{% endblock content%}
