{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
  社内SNS
</div>
{% endblock header %}

{% block content %}
<div class='container'>
  <div class="alert alert-success" role="alert">
    <p>タイトル：</p>
    <p>投稿者:</p>
    <a href="#" class="btn btn-primary" role="button" aria-pressed="true">いいね</a>
    <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">既読</a>
  </div>
</div>
{% endblock content%}
